#nav-bar {
  position: fixed;
  width: 100%;
}
#content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#video {
  display: flex;
  justify-content: center;
  padding: 70px;
}

#form {
  
}
